{{- if (.Values.service).enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "application.name" . }}
  namespace: {{ template "application.namespace" $ }}
  labels:
  {{- include "application.labels" . | nindent 4 }}
{{- if .Values.service.additionalLabels }}
{{ toYaml .Values.service.additionalLabels | indent 4 }}
{{- end }}
{{- if .Values.service.annotations }}
  annotations:
{{ include "application.tplvalues.render" ( dict "value" .Values.service.annotations  "context" $ ) | indent 4 }}
{{- end }}
spec:
{{- if .Values.service.type }}  
  type: "{{ .Values.service.type }}"
{{- end }}
{{- with .Values.service.clusterIP }}
  clusterIP: {{ . }}
{{- end }}
  selector:
{{ include "application.selectorLabels" . | indent 4 }}
{{- if .Values.deployment.podLabels }}
{{ toYaml .Values.deployment.podLabels | indent 4 }}
{{- end }}
  ports:
  {{- if .Values.deployment.openshiftOAuthProxy.enabled }}
  - name: proxy
    port: 443
    protocol: TCP
    {{- if .Values.deployment.openshiftOAuthProxy.disableTLSArg }}
    targetPort: 8081
    {{- else }}
    targetPort: 8443
    {{- end }}
  {{- else }}
{{ toYaml .Values.service.ports | indent 4 }}
  {{- end }}
{{- end }}
