name: Pull Request

on:
  pull_request:
    branches:
      - master

env:
  CHART_NAME: "application"
  KUBECONFIG: "${{ github.workspace }}/.kubeconfig.yaml"

jobs:
  build:
    name: Build
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    runs-on: stakater-nonprod

    steps:

    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{github.event.pull_request.head.sha}}

    # Set Up Helm
    - name: Set up Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.8.2

    # Lint
    - name: Helm Lint
      run: |
        helm lint ${CHART_NAME}
        helm lint ${CHART_NAME} -f ${CHART_NAME}/values-test.yaml

    - name: Install kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: v1.26.0

    - name: Install OpenShift CLI
      uses: redhat-actions/oc-installer@v1
      with:
        oc_version: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/stable-4.7/openshift-client-linux.tar.gz"

    # This is used to setup kubeconfig, required by Tilt
    - name: Login to cluster
      run: oc login --token=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token) --server=https://kubernetes.default.svc --insecure-skip-tls-verify=true

    - name: Run Checkov action
      uses: bridgecrewio/checkov-action@master
      with:
        quiet: true
        soft_fail: false
        file: ${{ env.CHART_NAME }}/Chart.yaml
        var_file: ${{ env.CHART_NAME }}/values-test.yaml

    # Dry run to ensure that manifests are generated successfully
    - name: Dry Run Chart
      run: |
        helm install ${CHART_NAME} ${CHART_NAME} -f ${CHART_NAME}/values-test.yaml -n stakater-chart-pipeline-test --dry-run --debug

  unittest:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - uses: d3adb5/helm-unittest-action@v2
        with:
          charts: application
          unittest-version: v0.5.x
