name: Pull Request

on:
  pull_request_target:
    branches:
      - master

env:
  CHART_NAME: "application"

jobs:
  build:
    name: Build
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    runs-on: stakater-nonprod

    steps:

    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{github.event.pull_request.head.sha}}

    # Set Up Helm
    - name: Set up Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.8.2

    # Lint
    - name: Helm Lint
      run: |
        helm lint ${CHART_NAME}
        helm lint ${CHART_NAME} -f ${CHART_NAME}/values-test.yaml

    - name: Run Checkov action
      uses: bridgecrewio/checkov-action@master
      with:
        quiet: true
        file: ${{ env.CHART_NAME }}/Chart.yaml
        var_file: ${{ env.CHART_NAME }}/values-test.yaml

    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.26.0

    - name: Install OpenShift CLI
      uses: redhat-actions/oc-installer@v1
      with:
        oc_version: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/stable-4.7/openshift-client-linux.tar.gz"

    # This is used to setup kubeconfig, required by Tilt
    - name: Login to cluster
      run: oc login --token=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token) --server=https://kubernetes.default.svc --insecure-skip-tls-verify=true

    # This is required for adding ghcr helm registry
    - name: Login to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io/stakater
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Dry run to ensure that manifests are generated successfully
    - name: Dry Run Chart
      run: |
        helm install ${CHART_NAME} ${CHART_NAME} -f ${CHART_NAME}/values-test.yaml -n stakater-chart-pipeline-test --dry-run --debug

    - name: Comment on PR
      uses: mshick/add-pr-comment@v2
      env:
        GITHUB_TOKEN: ${{ secrets.STAKATER_GITHUB_TOKEN }}
      with:
        message-success: '@${{ github.actor }} validation successful`'
        message-failure: '@${{ github.actor }} Yikes! You better fix it before anyone else finds out! [Build](https://github.com/${{ github.repository }}/commit/${{ github.event.pull_request.head.sha }}/checks) has Failed!'
        allow-repeats: false

    - name: Notify Slack
      uses: 8398a7/action-slack@v3
      if: always() # Pick up events even if the job fails or is canceled.
      with:
        status: ${{ job.status }}
        fields: repo,author,action,eventName,ref,workflow
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}

  unittest:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.sha}}
      - uses: d3adb5/helm-unittest-action@v2
        with:
          charts: application
